#kc-logo {
    width: 100%;
}

#kc-logo-wrapper {
    background-image: url(../img/keycloak-logo-2.png);
    background-repeat: no-repeat;
    height: 63px;
    width: 300px;
    margin: 62px auto 0;
}

#kc-header-wrapper {
    background-image: url(../img/logo-proximo.png);
    background-size: 350px;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}

.kc-tittle-email {
    font-weight: 800;
    margin: 10px 0px;
    text-align: left;
}

.kc-tamplate-body-email {
    height: 400px;
    width: 100%;
    background-color: #fff;
    border-top: 5px solid #d5d5d5;
    border-bottom: 20px solid #d5d5d5;

    
}